<div class="wrapper" [ngClass]="fontSize" [ngClass]="themeColor">
	<footer class="footer p-0" [ngClass]="fontColor">
	  <div class="row mt-0 ml-0 mb-0 pb-0">
		<div class="col">
		  <div class="row d-flex justify-content-end m-0 pt-2">
			<i class="far fa-file-alt fa-3x pr-3 pt-1" style="color: black;"></i>
			<a href="https://e-aduan.kpdnhep.gov.my/" target="_blank">
			  <p>
				<strong class="text-dark"><span class="font-black"> {{ "footer.Aduan&Maklumbalas" | translate
					}}</span></strong>
				<br>
				<span class="text-dark"><span class="font-black">https://e-aduan.kpdnhep.gov.my/</span></span>
			  </p>
			</a>
		  </div>
		</div>
		<div class="col">
		  <div class="row d-flex justify-content-start m-0 pt-2">
			<img class="pt-1" src="assets/img/icons/phone-circle.svg" alt="phone" style="height: 55px; width: 50px;">
			<p class="text-dark pl-3">
			  <strong class="font-black">{{ "footer.HubungiKami" | translate }}</strong>
			  <br>
			  <span class="font-black">03 8000 8000</span>
			</p>
		  </div>
		</div>
	  </div>
	  <div class="" style="background-color:#2E095F; flex-wrap:nowrap">
		<div class="row foot mt-0 ml-0 mb-0" style="flex-wrap: nowrap;">
		  <div class="col align-center">
			<div class="d-flex flex-row-reverse pt-2">
			  <img src="assets/img/logo/jata-negara.png" id="jata-negara" alt="jata negara" />
			</div>
		  </div>
  
		  <div class="col-lg-5">
  
			<p class="font-white pt-2" style="font-size: 12px;">
				KEMENTERIAN PERDAGANGAN DALAM NEGERI DAN HAL EHWAL PENGGUNA
				<br>
				No 13 Jalan Persiaran Perdana, Presint 2,
				<br>
				62623, Putrajaya, Wilayah Persekutuan Putrajaya
			</p>
		  </div>
  
		  <div class="col-lg-4">
			<p class="font-white pt-2" style="font-size: 12px;">
			  Best viewed using Microsoft Edge,
			  <br>
			  Mozilla Firefox, Google Chrome and Safari Browser, using
			  <br>
			  a minimum resolution of 1366 x 768 pixels
			</p>
		  </div>
		  <div class="col-lg-2">
			<p class="font-white" style="font-size: 12px;">
			  <br>
			  <strong>@ ALL RIGHT RESERVED</strong>
			</p>
		  </div>
		</div>
	  </div>
	</footer>
  </div>