<div class="wrapper">

    <div class="p-2 text-capitalize" style="text-align: center; width: 75%; height:80px;">
        <h3 class="h1 text-dark pt-4"><strong>Arkib Dokumen</strong></h3>
    </div>

    <div class="container-fluid " style="padding-left: 50px; padding-right:50px;">

        <div class="row m-2" style="justify-content: center;">
            <div class="container-fluid mt-4" style="justify-content: center;">

                
                <div class="p-2" style="text-align: center;">
                    <h5 class="h3">Manual Pengguna</h5>
                </div>

                <div class="card m-2">

                    <div class="card-body p-3">
                        <div class="row p-3 mb-0">
                            <div class="col form-group d-flex justify-content-start align-items-center p-0 mb-0">
                                <label class="d-flex flex-nowrap mb-0">
                                    <span class="pl-0 pt-2 pr-2">Papar</span>
                                    <select name="datatable_length" aria-controls="datatable" class="col form-control"
                                        (change)="entriesChange($event)">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="-1">All</option>
                                    </select>
                                    <span class="p-2">rekod</span>
                                </label>
                            </div>
                            <!-- <div class="col form-group d-flex justify-content-end mb-0 p-0" id="datatable_search">
                                <label class="col-form-label pr-2" for="search">Cari Rekod: </label>
                                <input class="col-6 form-control" type="text" name="search"
                                    placeholder="Type to filter the name column..." (keyup)="updateFilter($event)" />
                            </div> -->
                        </div>

                        <ngx-datatable #mydatatable class="material selection-cell" [headerHeight]="50" [limit]="5"
                            [columnMode]="ColumnMode.force" [footerHeight]="50" rowHeight="auto" [rows]="data"
                            [limit]="tableEntries != -1 ? tableEntries : undefined" (activate)="onActivate($event)">

                            <ngx-datatable-column name="No" [sortable]="false" [width]="50">
                                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                    {{ rowIndex + 1 }}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="title">
                                <ng-template ngx-datatable-header-template>
                                    <span>TAJUK</span>
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row"
                                    let-value="value">
                                    {{ value }}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="comment">
                                <ng-template ngx-datatable-header-template>
                                    <span>KETERANGAN</span>
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                    let-row="row">
                                    {{ value }}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="date">
                                <ng-template ngx-datatable-header-template>
                                    <span>TARIKH CIPTA</span>
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                    let-row="row">
                                    {{ value }}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false">
                                <ng-template ngx-datatable-header-template>
                                    <span>TINDAKAN</span>
                                </ng-template>
                                <ng-template ngx-datatable-cell-template>
                                    <a class="p-2" style="cursor: pointer;">
                                        <input type="button" class="btn btn-sm text-white" style="background-color: #7522be;" value="Lihat">
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>