<div class="wrapper fadeInDown" [ngClass]="fontSize" [ngClass]="fontColor" >
    <!-- [hidden]="icpassed!=3" -->
    <div id="formContent" style="align-items: center;">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first" style="text-align: center;">
            <h3 class="font-black">{{'register2.DaftarAkaun'| translate }}</h3>
        </div>
        
        <!-- register Form -->
        <!-- email and password -->
        <!-- <form class="p-3 d-flex justify-content-center" style="width:100%" (ngSubmit)="onSubmit(template)">
            <div class="d-flex flex-wrap" fxLayout="column" fxLayoutAlign="space-evenly stretch" style="width: 100%;">

                <Label for="name"><i class="fas fa-user"></i>{{'register2.NamaPenuh'| translate }}</Label>
                <br>
                <input type="text" id="name" class="fadeIn second" name="name" placeholder="">
                <br>

                <div class="form-group">
                    <label for="name"><i class="fas fa-user"></i> {{'register2.NamaPenuh'| translate }}</label>
                    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="">
                </div>

                <Label for="ic"><i class="fas fa-id-card"></i> {{'register2.NoKadPengenalan'| translate }}</Label>
                <br>
                <input type="text" id="ic" class="fadeIn second" name="ic" placeholder="">
                <br>

                <Label for="email"><i class="fas fa-envelope"></i> {{'register2.emel'| translate }}</Label>
                <br>
                <input type="text" id="email" class="fadeIn second" name="email" placeholder="">
                <br>

                <Label for="gender"><i class="fas fa-venus-mars"></i> {{'register2.jantina'| translate }}</Label>
                <br>
                <input type="text" id="gender" class="fadeIn second" name="gender" placeholder="">
                <br>

                <Label for="address"><i class="fas fa-map-marker-alt"></i> {{'register2.alamat'| translate }}</Label>
                <br>
                <input type="text" id="address1" class="fadeIn second" name="address" placeholder="{{'register2.alamat1'| translate }}">
                <input type="text" id="address2" class="fadeIn second" name="address" placeholder="{{'register2.alamat2'| translate }}">
                <br>

                <label for="postcode"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-signpost-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.293.707A1 1 0 0 0 7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414A1 1 0 0 0 7.293.707z" />
                    </svg> {{'register2.poskod'| translate }}</label>
                <br>
                <input type="text" id="postcode" class="fadeIn second" name="postcode" placeholder="">
                <br>


                <label for="state"><i class="fas fa-map"></i> {{'register2.negeri'| translate }}</label><br>
                <input type="text" id="state" class="fadeIn second" name="state" placeholder="">
                <br>
                <label for="phone">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    {{'register2.noTelefon'| translate }}
                </label>
                <br>
                <input type="text" id="phone" class="fadeIn second" name="phone" placeholder="">
                <br>
                <label><i class="fas fa-map-marked"></i>{{'register2.NegeriKutipanPermit'| translate }}</label><br>
                <input type="text" id="email" class="fadeIn second" name="state" placeholder="">
                <br>
                <label class="pt-2">{{'register2.SalinanKadPengenalan'| translate }}</label><br>
                <input type="file" id="icCopy" name="icCopy" (change)="setFile>
                <br>
                <label class="pt-2">{{'register2.GambarProfil'| translate }}</label><br>
                <input type="file" id="profile" name="profile">
                <br>

                <div class="">
                    <input type="submit" class="fadeIn fourth btn btn-outline-primary" value="{{'register2.hantar'| translate }}">
                    
                </div>

            </div>
            
        </form> -->

        <form class="p-3 d-flex justify-content-center font-black" style="width: 100%;" (ngSubmit)="onSubmit(template)">
            <div class="" fxLayout="column" fxLayoutAlign="space-evenly stretch" style="width: 60%;">

                <div class="form-group">
                    <label for="name"><i class="fas fa-user"></i> {{ "register2.NamaPenuh" | translate }}</label>
                    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder=""
                        disabled>
                </div>
                <div class="form-group">
                    <label for="ic"><i class="fas fa-id-card"></i> {{'register2.NoKadPengenalan'| translate }}</label>
                    <input type="text" class="form-control" name="ic" aria-describedby="ic" [(ngModel)]="no_kp"
                        disabled>
                </div>
                <div class="d-flex flex-nowrap">
                    <div class="col-6 form-group pl-0">
                        <label for="email"><i class="fas fa-envelope"></i> {{'register2.emel'| translate }}</label>
                        <input type="email" class="form-control" name="email" aria-describedby="email" placeholder="" [(ngModel)]="email" disabled>
                    </div>
                    <fieldset class="col form-group">
                        <label for="gender"> <i class="fas fa-venus-mars"></i> {{'register2.jantina'| translate
                            }}</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" id="male" [(ngModel)]="jantina" value="male">
                                {{'register2.lelaki'| translate }}
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" id="female" [(ngModel)]="jantina" value="female">
                                {{'register2.perempuan'| translate }}
                            </label>
                        </div>
                        <small style="color:red" [hidden]="jantinaError == 0">{{ "validation.Radio" | translate }}</small>

                    </fieldset>
                    <!-- <div class="col-6 form-group pl-0">
                        <label for="gender"><i class="fas fa-id-card"></i> JANTINA</label>
                        <input type="text" class="form-control" id="gender" aria-describedby="gender"
                            placeholder="">
                    </div> -->

                </div>

                <div class="form-group">
                    <label for="address"><i class="fas fa-map-marker-alt"></i> {{'register2.alamat'| translate
                        }}</label>
                    <input type="text" class="form-control" name="address1" aria-describedby="address" [(ngModel)]="alamat1">
                    <small style="color:red" [hidden]="alamat1Error == 0">{{ "validation.Field" | translate }}</small>
                    <input type="text" class="form-control pt-2" name="address2" aria-describedby="address" [(ngModel)]="alamat2">
                </div>

                <div class="d-flex flex-nowrap">
                    <div class="col-6 form-group pl-0">
                        <label for="postcode">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-signpost-fill" viewBox="0 0 16 16">
                                <path
                                    d="M7.293.707A1 1 0 0 0 7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414A1 1 0 0 0 7.293.707z" />
                            </svg>
                            {{'register2.poskod'| translate }}
                        </label>
                        <input type="text" class="form-control" name="postcode" aria-describedby="postcode" [(ngModel)]="poskod">
                        <small style="color:red" [hidden]="poskodError == 0">{{ "validation.Field" | translate }}</small>
                    </div>

                    <div class="col form-group pr-0">
                        <label for="state"><i class="fas fa-map"></i> {{'register2.negeri'| translate }}</label>
                        <!-- <input type="text" class="form-control" id="state" aria-describedby="state" placeholder=""> -->
                        <select class="form-control" aria-label="Default select example" name="negeri" [(ngModel)]="negeri">
                            <option selected>--Pilih Negeri--</option>
                            <option value="Perlis">Perlis</option>
                            <option value="Kedah">Kedah</option>
                            <option value="Pulau Pinang">Pulau Pinang</option>
                            <option value="Perak">Perak</option>
                            <option value="Selangor">Selangor</option>
                            <option value="WP Kuala Lumpur">W. P. Kuala Lumpur</option>
                            <option value="WP Putrajaya">W. P. Putrajaya</option>
                            <option value="Melaka">Melaka</option>
                            <option value="Negeri Sembilan">Negeri Sembilan</option>
                            <option value="Johor">Johor</option>                      
                            <option value="Pahang">Pahang</option>
                            <option value="Terengganu">Terengganu</option>
                            <option value="Kelantan">Kelantan</option>
                            <option value="Sabah">Sabah</option>
                            <option value="Sarawak">Sarawak</option>
                        </select>
                        <small style="color:red" [hidden]="negeriError == 0">{{ "validation.Radio" | translate }}</small>

                    </div>
                </div>

                <div class="d-flex flex-nowrap">
                    <div class="col-6 form-group p-0">
                        <label for="phone">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                            </svg>
                            {{'register2.noTelefon'| translate }}
                        </label>
                        <div class="d-flex flex-nowrap align-items-center">
                            <input type="text" class="form-control col-3 " name="phone1" [(ngModel)]="no_telefon1" aria-describedby="phone"
                                placeholder="">
                            <p class="mt-0 mb-0 p-2"> - </p>
                            <input type="text" class="form-control " name="phone2" aria-describedby="phone" [(ngModel)]="no_telefon2">
                        </div>
                        <small style="color:red" [hidden]="telefonError == 0">{{ "validation.Field" | translate }}</small>

                    </div>
                </div>


                <div class="form-group">
                    <label for="icCopy"><i class="fas fa-id-card"></i> {{'register2.SalinanKadPengenalan'| translate
                        }}</label>
                    <br>
                    <input type="file" id="icCopy" name="icCopy" (change)="handleFileInput($event.target.files)">
                    <small style="color:red" [hidden]="fileToUploadError == 0">{{ "validation.File" | translate }}</small>

                </div>

                <div class="form-group">
                    <label for="profilPic"><i class="fas fa-id-card"></i> {{'register2.GambarProfil'| translate }}
                    </label>
                    <br>
                    <input type="file" id="profilPic" name="profilPic" (change)="handleFileInput2($event.target.files)">
                    <small style="color:red" [hidden]="fileToUpload2Error == 0">{{ "validation.File" | translate }}</small>

                </div>

            <!-- app.component.html -->

                <div class="d-flex justify-content-end">
                    <input type="submit" class="fadeIn fourth btn btn-outline-primary"
                        value="{{'register2.hantar'| translate }}">
                </div>

            </div>
            <!-- <button type="button" class="btn btn-primary p-2" [routerLink]="['/auth/register2']">Register</button> -->
        </form>

    </div>
</div>

<ng-template #template>
    <div class="modal-header" style="background-color: #1d1da1; justify-content:center !important">
        <div class="row" style="text-align: center;" [ngClass]="fontColor">
            <h4 class="modal-title pull-left font-white">{{'register2.Notifikasi'| translate }}</h4>
        </div>
    </div>
    <div class="modal-body" style="text-align: center;">
        <div class="row d-flex justify-content-center">
            <i class="far fa-check-circle fa-5x fa-green" style="color:lightgreen;"></i>
        </div>
        <div class="row p-2" [ngClass]="fontColor">
            <p class="font-black">
                {{'register2.akaunAndaTelahBerjayaDicipta'| translate }}
            </p>
        </div>
    </div>
    <div class="row p-3 d-flex justify-content-around" style="text-align: center;">
        <button type="button" class="btn btn-primary" [routerLink]="['/auth/login']" (click)="modalRef.hide()">
            {{'register2.logMasuk'| translate }}
        </button>
    </div>
</ng-template>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-fussion"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>