<div class="wrapper">



    <div id="formContent">

        <div class="container">
            <div class="row" style="padding: 30px;">
                <div class="col">
                    <h4><strong> Status Permohonan</strong></h4>
                </div>
                <div class="col d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" [routerLink]="['/core/global-officer/check-application-status']">Kembali</button>
                </div>
            </div>
        </div>


        <div class="container mb-5 ml-0">
            <div class="row">
                <div class="col-md-6 offset-md-3" style="margin-left: 5% !important; max-width: none; flex:none">
                    <!-- <h4>Latest News</h4> -->


                    <ul class="timeline">
                        <li class="disable" style="width: 90%;">
                            <div class="timeline-badge primary">
                                <i class="far fa-address-card text-dark"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="text-muted">9 Mac 2021, 10.08 AM</span>
                                    <h4 class="h5 timeline-title"><strong>Kutipan Permit</strong></h4>
                                    <p>
                                        Permit telah tersedia untuk dikutip. Nullam id dolor id nibh ultricies vehicula
                                        ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li style="width: 90%;">
                            <div class="timeline-badge success">
                                <i class="fas fa-dollar-sign text-dark"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="text-muted">9 Mac 2021, 10.08 AM</span>
                                    <h4 class="h5 timeline-title"><strong>Bayaran</strong></h4>
                                    <p>
                                        Bayaran RM20 perlu dibuat di kaunter cawangan KPDNHEP. Nullam id dolor id nibh
                                        ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et
                                        magnis dis parturient montes, nascetur ridiculus mus.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li style="width: 90%;">
                            <div class="timeline-badge danger">
                                <i class="fas fa-check-circle text-dark"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="text-muted">9 Mac 2021, 10.08 AM</span>
                                    <h4 class="h5 timeline-title"><strong>Kelulusan</strong></h4>
                                    <p>
                                        Permohonan telah diluluskan. Nullam id dolor id nibh ultricies vehicula ut id
                                        elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li style="width: 90%;">
                            <div class="timeline-badge success">
                                <i class="fas fa-thumbs-up text-dark"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="text-muted">9 Mac 2021, 10.08 AM</span>
                                    <h4 class="h5 timeline-title"><strong>Syor</strong></h4>
                                    <p>
                                        Permohonan sedang dalam proses untuk disokong. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit. Cum sociis natoque penatibus
                                        et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque
                                        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li style="width: 90%;">
                            <div class="timeline-badge primary"><i class="fas fa-gavel text-dark"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="text-muted">9 Mac 2021, 10.08 AM</span>
                                    <h4 class="h5 timeline-title"><strong>Tapisan PDRM</strong></h4>
                                    <p>
                                        Pemohon mempunyai 3 rekod jenayah. Nullam id dolor id nibh ultricies vehicula ut
                                        id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li style="width: 90%;">
                            <div class="timeline-badge danger">
                                <i class="far fa-check-square text-dark"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="text-muted">9 Mac 2021, 10.08 AM</span>
                                    <h4 class="h5 timeline-title"><strong>Pengesahan Dokumen</strong></h4>
                                    <p>
                                        Permohonan lengkap dan telah disemak oleh pegawai pemproses Negeri dan pegawai
                                        pemproses HQ. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis
                                        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum
                                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                        mus.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li style="width: 90%;">
                            <div class="timeline-badge success"><i class="fas fa-file-alt text-dark"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="text-muted">9 Mac 2021, 10.08 AM</span>
                                    <h4 class="h5 timeline-title"><strong>Permohonan</strong></h4>

                                    <p>Permohonan telah dihantar pada hari Selasa, 16/03/2021. Nullam id dolor id nibh
                                        ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et
                                        magnis dis parturient montes, nascetur ridiculus mus.å</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>


</div>