<div class="wrapper fadeInDown" [ngClass]="">
    <div id="formContent" [ngClass]="">

        <div class="p-2" style="background-color: #e0bbfe;">
            <h3 class="h3 p-2">Profil Pegawai</h3>
        </div>

        <form class="p-3 d-flex justify-content-start font-black" style="width: 100%;">
            <div class=" p-5" fxLayout="column" fxLayoutAlign="space-evenly stretch" style="width: 80%;">

                <div class="d-flex flex-nowrap">
                    <div class="form-group row d-flex flex-nowrap" style="width: 100%;">
                        <label for="action" class="col-sm-4 col-form-label">No Kad Pengenalan</label>
                        <div class="col-sm">
                            <input type="text" class="form-control" id="nric" aria-describedby="nric"
                                [value]="userdata.no_kp" disabled>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-nowrap">
                    <div class="form-group row d-flex flex-nowrap" style="width: 100%;">
                        <label for="action" class="col-sm-4 col-form-label">Kata Laluan Asal</label>
                        <div class="col-sm">
                            <input type="password" class="form-control" id="ori-pass" aria-describedby="" value="this.password">
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-nowrap">
                    <div class="form-group row d-flex flex-nowrap" style="width: 100%;">
                        <label for="action" class="col-sm-4 col-form-label">Kata Laluan Baru</label>
                        <div class="col-sm">
                            <input type="password" class="form-control" id="password" aria-describedby="" value="">
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-nowrap">
                    <div class="form-group row d-flex flex-nowrap" style="width: 100%;">
                        <label for="action" class="col-sm-4 col-form-label">Sah Kata Laluan Baru</label>
                        <div class="col-sm">
                            <input type="password" class="form-control" id="password2" aria-describedby=""
                                value="">
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-nowrap">
                    <div class="form-group row d-flex flex-nowrap" style="width: 100%;">
                        <label for="action" class="col-sm-4 col-form-label">Nama Penuh</label>
                        <div class="col-sm">
                            <input type="text" class="form-control" id="name" aria-describedby=""
                                [value]="userdata.nama" disabled>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-nowrap">
                    <div class="form-group row d-flex flex-nowrap" style="width: 100%;">
                        <label for="action" class="col-sm-4 col-form-label">Jawatan</label>
                        <div class="col-sm">
                            <input type="text" class="form-control" id="position" aria-describedby=""
                                value="Pegawai Pemantau Harga" disabled>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-nowrap">
                    <div class="form-group row d-flex flex-nowrap" style="width: 100%;">
                        <label for="action" class="col-sm-4 col-form-label">Negeri</label>
                        <div class="col-sm">
                            <input type="text" class="form-control" id="position" aria-describedby=""
                                [value]="userdata.negeri" disabled>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-nowrap">
                    <div class="form-group row d-flex flex-nowrap" style="width: 100%;">
                        <label for="action" class="col-sm-4 col-form-label">Emel</label>
                        <div class="col-sm">
                            <input type="text" class="form-control" id="position" aria-describedby=""
                                [value]="userdata.emel" disabled>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-nowrap">
                    <div class="form-group row d-flex flex-nowrap" style="width: 100%;">
                        <label for="action" class="col-sm-4 col-form-label">Capaian</label>
                        <div class="col-sm">

                            <span class="text-bold d-flex flex-nowrap"><span class="p-2">1. </span><input type="text"
                                    class="form-control" id="position" aria-describedby="" value="Pegawai Pemproses HQ"
                                    disabled></span>

                            <span class="text-bold d-flex flex-nowrap"><span class="p-2">2. </span><input type="text"
                                    class="form-control" id="position" aria-describedby="" value="Pentadbir Sistem HQ"
                                    disabled></span>

                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end pr-2">
                    <input type="button" class="fadeIn fourth btn btn-outline-primary"
                        value="Kemaskini" (click)="update(updateSuccess)">
                    <!-- <button type="button" class="btn btn-primary p-2"
                        [routerLink]="['/auth/register2']">Register</button> -->
                </div>

            </div>

        </form>

    </div>
</div>

<ng-template #updateSuccess>
    <div class="modal-body">
        <div class="container">
            <div class="row d-flex justify-content-center p-3">
                <i class="far fa-check-circle fa-5x" style="color: #2dce89;"></i>
            </div>
            <div class="row d-flex justify-content-center p-3" style="text-align: center;">
                <p>Kata laluan telah berjaya dikemaskini</p>
            </div>
            <div class="row d-flex justify-content-around" style="text-align: center;">
                <!-- <button type="button" class="btn btn-default font-white" (click)="modalRef.hide()"
                    style="background-color: #ec1a22;">Batal</button> -->
                <button type="submit" class="btn btn-success"
                    (click)="closeModal()">OK!</button>
            </div>
        </div>
    </div>
</ng-template>

